*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}


.mainHeader
{
    width: 100%px;
    height: 850px;
    background-color: #E554731A;

}

.content
{
    display: flex;
    
}

.textContent
{
    height: 506px;
    width: 708px;
    margin: 197px 0px 167px 240px;
    padding-right: 45px;
    /* position: relative;
    margin-bottom: 20px; */
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}

.flowerImage
{
    margin: 50px 240px 0px 0px;
    height: 800px;
    width: 635px;
    padding-left: 45px;
}


.allButton
{
    height: 44px;
    width: 136px;
    color: white;
    font-size: 15px;
    font-family: Lato;
    font-weight: bold;
    background-color: #E55473;
    border: none;
    border-radius: 7px;


}

h1
{
    font-size: 38px;
    font-weight: 800;
}

p
{
    font-size: 11px;
}